enter information
<form method= "post" action = "/index">
first name
<input type = "text" name="first_name" value=>
last name
<input type = "text" name="last_name" value=>
city
<input type = "text" name="city" value=>
state
<input type = "text" name="state" value=>
zip
<input type = "text" name="zipcode" value=>
phone number
<input type = "text" name="phone_number" value=>

<input type ="submit">
</form>
<%phonebook.each do|value|%>
<%value['first_name']%>
<%value['last_name']%>
<%value['state']%>
<%value['city']%>
<%value['zipcode']%>
<%value['phone_number']%>




<%end%>